<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show post details</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <h1>See post in Details..</h1>
    <h3>id:<%= post.id %></h3>

    <div>
    <h3 class="user">username:<%= post.username %></h3>
    <p class="content">content:<%= post.content  %></p>
    </div>

</body>
</html>